<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clipboard Manager</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <h1>Ziva</h1>
        <p>
Ziva is a smart tool designed for educational purposes, helping students  <br>
It seamlessly integrates with our website to manage and share study resources. <br>
Boost your learning experience with this simple and efficient app!
</p>
    </header>

    <main>
        <div class="login-section">
            <h2>Welcome to Ziva</h2>
            <div class="button-group">
                <a href="/user/login" class="nav-button">User Login</a>
                <a href="/admin" class="nav-button">Admin Login</a>
            </div>
        </div>
    </main>

    <footer>
        <p>Made by Abhishek Sharma</p>
        <a href="https://t.me/codeinghelp_new">Join Our Telegram Group</a>

    </footer>
</body>
</html>